#!/usr/bin/make -f

export DH_VERBOSE=1
export PYBUILD_NAME=elnok
export PYBUILD_DISABLE=test

%:
	# Just be sure there is no left over from previous egg-info directories
	rm -rfv src/elnok.egg-info
	dh $@ --with python3 --buildsystem=pybuild
